html {
	font-size: 32px;
}

body {
	background-image: url(xu9sm5mu7nz21.jpg);
	background-attachment: fixed;
}

a {
	text-decoration: none;
}

nav {
	max-width: 100%;
	background-color: #729fcf;
	border-top-left-radius: 5% 20px; 
	border-bottom-right-radius: 10% 20px;
}

header div {
	max-width: 960px;
}

header h1 {
	text-shadow: 2px 2px 1px #F5085F, 4px 4px 0 #FAFA03, 6px 6px 0 #1FF1FF, 0 0 2px #000000;

}

footer {
	background-color: #729fcf;
	border-radius: 40px 40px 0 0;
}

header {
	background-color: #729fcf;
	border-radius: 0 0 40px 40px;
}

th {
	border: 1px solid;
}

td {
	border: 1px solid;
}

a:hover{
	color: #ff0000;
	text-decoration: none;
}

th:hover {
	transform: scale(1, 1.25);
}

td:hover{
	transform: scale(1, 1.25);
}

.odd {
	background-color: #6bf4f6;
	border: 1px solid;
}

.even {
	background-color: #6bffa1;
	border: 1px solid;
}

#main, #forma, #table {
	background-color: #729fcf;
}

@media only screen and (min-width: 992px) and (orientation: landscape){

html {
	font-size: 16px;
}

body {
	background-image: url(xu9sm5mu7nz21.jpg);
	background-attachment: fixed;
}

a {
	text-decoration: none;
}

nav {
	max-width: 960px;
	background-color: #729fcf;
	border-top-left-radius: 5% 20px; 
	border-bottom-right-radius: 10% 20px;
}

header div {
	max-width: 960px;
}

header h1 {
	text-shadow: 2px 2px 1px #F5085F, 4px 4px 0 #FAFA03, 6px 6px 0 #1FF1FF, 0 0 2px #000000;

}

footer {
	background-color: #729fcf;
	border-radius: 40px 40px 0 0;
}

header {
	background-color: #729fcf;
	border-radius: 0 0 40px 40px;
}

th {
	border: 1px solid;
}

td {
	border: 1px solid;
}

a:hover {
	color: #ff0000;
	text-decoration: none;
}

th:hover {
	transform: scale(1, 1.25);
}

td:hover{
	transform: scale(1, 1.25);
}

.odd {
	background-color: #6bf4f6;
	border: 1px solid;
}

.even {
	background-color: #6bffa1;
	border: 1px solid;
}

#main, #forma, #table {
	max-width: 960px;
	margin: 0 auto;
	background-color: #729fcf;
}

}